<div class="@NavMenuCssClass"
     @onclick="ToggleNavMenu">
    <div class="nav top_items align-items-end">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="active_selection" />
            <div class="oi home_icon" aria-hidden="true"></div>
        </NavLink>
        <NavLink class="nav-link" href="search" Match="NavLinkMatch.All">
            <span class="active_selection" />
            <div class="oi search_icon" aria-hidden="true"></div>
        </NavLink>
    </div>
    <div class="nav bottom_items align-items-end">
        <NavLink class="nav-link" href="auth" Match="NavLinkMatch.All">
            <span class="active_selection" />
            <div class="oi person_icon" aria-hidden="true"></div>
        </NavLink>
        <NavLink class="nav-link" href="settings" Match="NavLinkMatch.All">
            <span class="active_selection" />
            <div class="oi settings_icon" aria-hidden="true"></div>
        </NavLink>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
